.features{
    /*background-image: url(../images/green.png);
	*/background-color: #ffffff;
	background-size: cover;
	background-position: bottom;
	width: 100%;
	height: 700px;
	padding: 120px 10% 100px;
}

.features_inner{
	border-radius: 30px;
	width: 100%;
	height: 100%;
	background-color: rgba(212, 212, 212, 0);
	background-color: #d4dade;

	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 20px;
}


@media screen and (max-width: 992px){
	.features{
		height: 1000px;
		padding: 120px 0 20px 0;
	}
}