.s_dash_main{
	width: 100%;
	height: 100vh;
	background: #c8cecf;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding-top: 100px;
	font-family: Montserrat, Arial;
}

.s_inner{
	background: white;
	margin: auto;
	width: 47%;
	height: 80vh;
	border-radius: 20px;
	padding: 10px;
}

.s_inner p{
	font-size: 20px;
	font-weight: bold;
}

.s_inner hr{
	margin-top: 50px;
	background-color: #6dde26;
}

.s_row{
	margin-top: 20px;
	width: 100%;
}

.s_row label{
	margin: auto;
	width: 50%;
}

.s_row input, textarea{
	float: right;
	margin: auto;
	width: 50%;
	border-radius: 10px;
	border: 1px solid orange;
}


.s_row.description{
	height: 60px;
}
.s_form_control{
	display: flex;
	flex-wrap: wrap;
	align-items: center;

}
.s_form_control .btn{
	margin: auto;
	width: 120px;
	padding: 10px;
	font-weight: bold;
	color: white;
}

.s_reset{
	background: #2c3034;
}
.s_submit{
	background-color: #30b330;
}